<!DOCTYPE html>
<html>
<head>
    <title>FTP Client</title>
</head>
<body>
    <h1>FTP Client</h1>

    <h2>Upload File</h2>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="upload_file">
        <input type="submit" value="Upload">
    </form>

    <h2>Download File</h2>
    <form method="POST">
        <input type="text" name="download_file" placeholder="Nama File">
        <input type="submit" value="Unduh">
    </form>
</body>
</html>
